.header-main {
  padding-block: 0 144px;
  
  gap: 56px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.main-titles {
  display: flex;
  margin-top: 72px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  h2{
    color: var(--red);
    font: var(--subtitle);
  }

  h1 {
    font: var(--title-md);
    color: var(--gray-600);
  }

  @media (max-width: 666px) {
    margin-top: 139px;
  }

  @media (max-width: 464px) {
    margin-top: 230px;
  }

  @media (max-width: 461px) {
    margin-top: 120px;
  }

}

.projects {
  padding: 1rem;
  max-width: 1366px;
  
  gap: 24px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width: 734px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 417px) {
    grid-template-columns: 1fr;
  }
}

.project {
  max-width: 307px;
  
  border-radius: 8px;
  background-color: var(--gray-300);
  border: 1px solid var(--gray-300);

  h1 {
    padding-inline: 16px;
    
    margin-top: 8px;
  
    font: var(--title-sm);
    color: var(--gray-600);
  }

  p {
    padding-inline: 16px;
    padding-block: 8px 21px;
    
    font: var(--text-sm);
    color: var(--gray-500);
  }
}

.project img {
  width: 100%;
  padding: 12px;
  
  object-fit: cover;
  border-radius: 16px;
}

.project:hover {
  cursor: pointer;
  border: 1px solid var(--gray-600);
}