.header-main {
  display: flex;
  justify-content: center;
  gap: 56px;
  flex-direction: column;
  align-items: center;
  padding-block: 0 144px;
}

.main-titles {
  margin-top: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  h2{
    font: var(--subtitle);
    color: var(--red);
  }

  h1 {
    font: var(--title-md);
    color: var(--gray-600);
  }

  @media (max-width: 666px) {
    margin-top: 139px;
  }

  @media (max-width: 464px) {
    margin-top: 230px;
  }

  @media (max-width: 461px) {
    margin-top: 120px;
  }

}

.projects {
  max-width: 1366px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 24px;
  padding: 1rem;

  @media (max-width: 734px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 417px) {
    grid-template-columns: 1fr;
  }
}

.project {
  border-radius: 8px;
  max-width: 307px;
  background-color: var(--gray-300);
  border: 1px solid var(--gray-300);

  h1 {
    font: var(--title-sm);
    color: var(--gray-600);
    margin-top: 8px;
    padding-inline: 16px;
  }

  p {
    font: var(--text-sm);
    color: var(--gray-500);
    padding-inline: 16px;
    padding-block: 8px 21px;
  }
}

.project img {
  width: 100%;
  border-radius: 16px;
  padding: 12px;
  object-fit: cover;
}

.project:hover {
  border: 1px solid var(--gray-600);
  cursor: pointer;
}